[settings]
timeout = 1000

[relaychain]
chain = "westend-local"
default_command = "./polkadot"

  [[relaychain.nodes]]
  name = "alice"
  validator = true
  rpc_port = 9901
  extra_args = [ "-lparachain=debug" ]

  [[relaychain.nodes]]
  name = "bob"
  validator = true
    rpc_port = 9901
  extra_args = [ "-lparachain=debug" ]

  [[relaychain.nodes]]
  name = "charlie"
  validator = true
    rpc_port = 9902
  extra_args = [ "-lparachain=debug" ]

  [[relaychain.nodes]]
  name = "dave"
  validator = true
  rpc_port = 9903
  extra_args = [ "-lparachain=debug" ]

[[parachains]]
id = 1000
add_to_genesis = true
cumulus_based = true
chain = "asset-hub-westend-local"

  [[parachains.collators]]
  name = "statmine-collator01"
  command = "./polkadot-parachain"
  rpc_port = 9944
  args = ["--log=xcm=trace,pallet-assets=trace"]

  [[parachains.collators]]
  name = "statmine-collator02"
  command = "./polkadot-parachain"
  rpc_port = 9911
  args = ["--log=xcm=trace,pallet-assets=trace"]
